.navbar.navbar-inverse {
  --bslib-navbar-inverse-bg: #000000;
  --bs-emphasis-color: #000000;}

.svg_container {
  overflow: hidden;
}

.svg_container svg {
  width: 100%;
  height: auto;
  max-height: 88vh;
  overflow: hidden;
}

.custom-left-picker .colourpicker-panel {
  left: auto !important;
  right: 20% !important;
}
